body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;

  /* YOUR CUSTOM GRID */
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 80px 60px 1fr 60px;

  grid-template-areas:
    "header header"
    "nav nav"
    "main sidebar"
    "footer footer";

  height: 100vh;
}

header {
  grid-area: header;
  background: #ff9f43;
}

nav {
  grid-area: nav;
  background: #82aaff;
}

main {
  grid-area: main;
  background: #c792ea;
}

aside {
  grid-area: sidebar;
  background: #4ecdc4;
}

footer {
  grid-area: footer;
  background: #222;
  color: white;
}